.aulas-page {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.form-aula {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-aula label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.form-aula input,
.form-aula textarea {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 97%;
}

.lista-aulas {
    margin-top: 20px;
}

.item-aula {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.botao-enviar {
    background-color: #007AFF;
    color: white;
    padding: .25rem .5rem;
    font-weight: 600;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .form-aula input,
    .form-aula textarea {
        width: 95%;
    }
}