#card {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: row;
    text-decoration: none;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-article {
    text-align: left;
    color: black;
    width: 60%;
}

.card-category {
    color: gray;
}

.card-image {
    margin-right: 1rem;
    width: 30%;
}

.inscricao-button {
    background-color: #007AFF;
    color: white;
    padding: .75rem;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    #card {
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }


}