header {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 0 1rem;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.links {
    width: 100%;
    display: flex;
    line-height: 1rem;
    align-items: center;
    transition: max-height 0.3s ease;
}

.links.open {
    max-height: 500px;
}

.links {
    max-height: 0;
    overflow: hidden;
}

i {
    margin-right: .5rem;
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
}

.navigation a {
    color: black;
    font-weight: 500;
    text-decoration: inherit;
    margin-right: 1.5rem;
}

.login {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 200px;
    list-style: none;
    margin-left: auto;
    font-weight: bold;
}

#title {
    color: #007AFF;
    line-height: 1rem;
    text-decoration: inherit;
}

#botao {
    padding: .25rem .5rem;
    font-weight: 600;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1rem;
}

.botao-entrar {
    background-color: #007AFF;
    color: white;
}

.botao-cadastro {
    border: 2px solid #007AFF;
    color: #007AFF;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.botao-sair {
    border: 2px solid #007AFF;
    color: #007AFF;
}

@media (max-width: 768px) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5rem;
        width: 100%;
    }

    .navigation {
        flex-direction: column;
        width: 100%;
    }

    .login {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        align-self: center;
    }

    .navigation a, .login button {
        font-size: 1rem;
        padding: 10px 0;
        margin: 0;
    }

    .navigation li, .login button {
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
    }
}
